:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

    --font-size: 28px;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-size: var(--font-size);
    background-color: var(--dark-blue);
    min-height: 98vh;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--dark-grayish-blue);
    width: 500px;
    padding: 0 1.5rem;
}

.number-device {
    text-transform: uppercase;
    color: var(--neon-green);
    font-size: 12px;
    letter-spacing: 4px;
    margin: 45px 0 0 0;
}

.phrases {
    color: var(--light-cyan);
    text-align: center;
    margin-bottom: 30px;
}

.img-line-mobile {
    display: none;
}

.btn-advice-generator {
    width: 60px;
    height: 60px;
    background-color: var(--neon-green);
    border-radius: 50%;
    border: none;
    outline: none;
    position: relative;
    top: 30px;
}

.btn-advice-generator:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px var(--neon-green);
}

@media (max-width: 620px) {
    main {
        top: 40%;
        width: 90%;
        padding: 0 0.5rem;
    }

    .img-line-mobile {
        display: block;
    }

    .img-line-desktop {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 370px) {
    .img-line-mobile {
        width: 90%;
    }
}